body {
   /*background-color: ;  */
   font-family: sans-serif !important; 
   font-weight: 300;
   margin: 0;
}


.header {
    max-width: 1120px;
    margin: 0 auto;
    text-align: center;
}

.logoiscap {
    width: 68%;
}

#menu_icon {
    width: 0px;
}

.headerhr {
    height: 1px;
    background-color: #ca4d24;
}

.iscapImg {
    width: 100%;
    height: 444px;
    object-fit: cover;
    margin-bottom: 50px;
}

.intro { 
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    width: 860px;
    color: #ca4d24;
    max-width: 100%;
    margin-bottom: 6px;
    width: 96%;
    text-align: center;
    margin: auto;
    max-width: 970px;
    margin: auto;
    /*border-bottom: 2px solid #ca4d24;*/
}

.intro.candidaturas{
    margin: auto;
    padding-bottom: 30px;
}

.intro.candidaturas a{
    color: #ca4d24;
}

body > main > div.testemunhos > div{
    margin-top: 81px;
    padding-bottom: 30px;
}

.diploma{
    width: 250px;
}

.img_home{
    width: 300px;
}

.selector {
    display: flex;
    justify-content: space-between;
    margin: 5px 30px 0px 30px;
    text-align: center;
    color: #ca4d24;
    font-family: 'open_sansbold', Verdana, sans-serif;
    font-size: 18px;  
    font-weight: 900;
} 

.list a {
    color: #fff;
    text-decoration: none;
    transition: transform .2s;
    margin: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

main {
    background-color: #f4f4f9;
}

@media screen and (min-width: 750px) {
    .list:hover {
        color: black;
        border-bottom: 2px solid #ca4d24;
        transform: scale(1.25);
    }
    
    .list a:hover {
        color: black;
    }

    main {
        min-height: 70.5vh;
    }

    .flex1 {
        min-height: 70vh;
    }
}

.button_about_us{
    width: 129px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    background-color: #ca4d24;
    border-radius: 8px;
    margin-top: 5px;
}



.button_about_us a {
    text-decoration: none;
    color: #fff;
}

/* Footer */ 
footer {
    background-color: #666666;
    bottom: 0px;
    width: 100%;
    min-height: 95px;
    border-top: 5px solid #ca4d24;
}

.footerflex{
    display: flex;
    justify-content: space-between;
}

.linkIscap {
    margin-left: 10px;
    margin-bottom: 10px;
}
.footerimg {
    width: 167px;
}

.footerflex a {
    text-decoration: none;
}

.footerflex p {
    color: white;
    margin-top: 0;
}

.footerflex a:visited {
    color: white;
}

.fbLogo, .liLogo, .igLogo{
    border-radius: 42px;
    width: 46px;
    max-width: 46px;
}







/* Página Sobre o mestrado */
.flex1 {
    display: flex;
    padding-top: 10px;
    background-color: #f4f4f9;
}
.pagemenu {
    margin-top: 0px;
    margin-left: 39px;
    margin-right: 30px;
}

.menu{
    font-family: sans-serif;
    text-align: center;
    width: 160px;
    background-color: #D6D6D6;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    
}

.menu:hover {
    background-color: #ca4d24;
    color: white;
    font-weight: 900;
    cursor: pointer;
}

.title_sobrenos{
    color: #ca4d24;
    text-decoration: none;
    font-size: 48px;
    font-family: porto-sans;
    font-family: sans-serif;
    font-weight: 600;

}

.choose{
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
}

.textObjt, .textPC, .textSP, .textMI  {
    display: none;
    max-width: 100%;
    margin: 10px;

}

/*Tabela */
tbody{
    color: #333333;
    font: normal 14px/1.6em 'merriweather', Georgia, Times, 'Times New Roman', serif;
    visibility: visible;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0px;
    margin: 0;
    padding: 0;
}
/*
#course-tabs table.listing tr:nth-child(odd) th, #course-tabs table.listing td {
    border-right: 2px solid rgb(244, 244, 249);
}

table.invisible td, table.invisible th, table.plain td, table.plain th, table.listing td, table.listing th {
    padding: 0.5em 1em;
    vertical-align: top;
} */














/* Página Projetos e Disserações */
.box_one {
    width: 350px;
    max-width: 350px;
    /* width: fit-content; */
    height: auto;
    border: 2px solid black;
    margin: 3%;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    margin-right: 50px;
    margin-left: 50px;
    margin: auto;
    text-decoration: none ;
    border-radius: 35px;
    flex-basis: 45%;
    box-shadow:0 10px 7px rgba(0, 0, 0, 0.3), 12px 0 40px rgba(0, 0, 0, 0.1) inset;
}

.box_one a:visited, box_one a:active, .box_one a:hover, .box_one a:link {
    text-decoration: none;
    color: black;
}

.box_one:visited, .box_one:active, .box_one:hover, .box_one:link {
    text-decoration: none;
    text-decoration-color: white;
}

.link_none:visited{
    text-decoration: none;
    color: black;
}


.link_none{
    border-top: 2px solid black;
    margin: 0;
    text-decoration: none;
    text-align: center;
    
}
.img_one{
    width: 350px; 
    max-width: 380px;
    border-radius: 35px;
}


.flex2{
    max-width: 99%;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}
















/* Página Testemunhos */
.flex3{
    width: 85%;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    margin: auto;
    align-items: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 49px;
    line-height: 25px;
}

.dir {
    font-weight: 100;
    font-size: 18px;
}

.aluno{
    width: 250px;
    margin-right: 20px;
    border-radius: 45px;
}

.quotes {
    font-size: 39px;
}

.nome {
    font-size: 20px;
    font-weight: 600;
}





/* Media Tags Versão Mobile */ 
@media screen and (max-width: 860px) {
    #menu_icon {
    display: none !important;
    width: 13%;
    position: absolute;
    top: 0px;
    right: 0px;
    }

    .logoiscap{
    width: 389px;
    max-width: 100% !important;
    text-align: left;
    }
    
    .header {
    text-align: left;
    }

    .selector {
    display: none;
    text-align: right;
    color: #ca4d24;
    font-family: 'open_sansbold', Verdana, sans-serif;
    font-size: 17px;  
    font-weight: 900;
    z-index: 9999999;
    }

    .list {
        transition: none;
        transform: none;
    }

    a {
        transition: none;
        transform: none;
    }

    .introducao {
    text-align: center;
    margin: 20px 30px;
    font-size: 22px;
    font-weight: 500;
    }

    .intro { 
    font-weight: 900;
    width: 860px;
    max-width: 100%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 0px;
    }
    
    .intro p {
    margin: 6px;
    }


    .footerflex {
        display: block;
        text-align: center;
    }






    /* Página Sobre o Mestrado */
    .pagemenu {
        margin: auto;
        margin-bottom: 48px;
    }

    .flex1{
        display: initial;
        height: auto;
        width: auto;
    }

    .menu{
        width: initial;
    }



    /* Página Projetos e Dissertações */
    .flex3 {
        display: flex;
        flex-direction: column;
    }

    /* Menu */

}

@media screen and (max-width: 450px){
    .logoiscap{
        width: 280px;
    }
}


























/* Main menu positionning */
.main-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: #FFF;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .375s;
    overflow: hidden;
}

.main-nav.is-open {
    opacity: 1;
    z-index: 100;
    visibility: visible;
    overflow: hidden;
}

/* Yellow band effect */
.main-nav::before {
    max-width: 100%;
	content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -15px;
    background: #ca4d24;
    transform-origin: 0 0;
    transform: skew(-14deg) translateX(-120%);
    transition: all .275s .1s;
    overflow: hidden;
}

.main-nav.is-open::before {
    transform: skew(-14deg) translateX(0);
    overflow: hidden;
}

/* Skewing effect on menu links */
.main-nav ul {
    display: inline-flex;
    flex-direction: column;
    height: 93%; /* Should be 100%, but we have a notice message :D */
    align-items: flex-end;
    justify-content: center;
    transform: translateX(-18%) skew(-16deg);
    overflow: hidden;
    
}

.main-nav li {
    display: block;
    margin: .5rem 0;
    text-align: right;
    transform: skew(16deg);
    overflow: hidden;
}

/* Apparition effect on links */
.main-nav a {
    opacity: 0;
    transform: translateY(-10px);
}

.main-nav.is-open a {
    opacity: 1;
    transform: translateY(0);
}
.main-nav li:nth-child(1) a {
	transition: all 275ms 175ms
}
.main-nav li:nth-child(2) a {
	transition: all 275ms 225ms
}
.main-nav li:nth-child(3) a {
	transition: all 275ms 275ms
}
.main-nav li:nth-child(4) a {
	transition: all 275ms 325ms
}
.main-nav li:nth-child(5) a {
	transition: all 275ms 375ms
}


/* Decoration */
.main-nav ul,
.main-nav li {
	list-style: none;
    padding: 0;
    overflow: hidden !important;
}
.main-nav a {
	display: block;
	padding: 12px 0;
	font-size: 1.6em;
	text-decoration: none;
	font-weight: bold;
}

/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
.open-main-nav {
	position: absolute;
	padding-top: 20px;
	z-index: 1000;
	background: none;
	border: 0;
    cursor: pointer;
    right: 0px;
}
.open-main-nav:focus {
	outline: none;
}
.burger {
	position: relative;
	display: block;
	width: 39px;
	height: 4px;
	margin: 0 auto;
	background: #000;
	transform: skew(5deg);
    transition: all .275s;
    
}

.burger:after,
.burger:before {
	content: '';
	display: block;
	height: 100%;
	background: #000;
    transition: all .275s;
    overflow: hidden;
}

.burger:after {
	transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
	transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.is-open .burger {
	transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
	transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
	transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
}

/* MENU Text part */

.burger-text {
	display: block;
	font-size: .7rem;
	letter-spacing: .05em;
	margin-top: .5em;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
    color: #000;
    overflow: hidden;
}

.device {
	position: relative;
	width: 345px;
	height: 600px;
	background: #FFF;
	border: 1px solid #EEE;
	border-radius: 3px;
	box-shadow: 0 0 0 10px rgba(0,0,0,.1);
}

.container {
	position: absolute;
	top: 0; right: 0;
	bottom: 0; left: 0;
	overflow: hidden;
    background: linear-gradient(to bottom, #eee, #ddd);
    overflow: hidden;
}

html {
	height: 100%;
}


/* Slow motion button */
[id="slowmo"] {
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 10px;
	border: 0;
	font-size: 1rem;
	background: #FEDC2A;
	color: #5A3B5D;
	font-weight: bold;
	cursor: pointer;
	transition: all .275s;
}

[id="slowmo"] span {
	display: block;
	font-weight: normal;
}

[id="slowmo"]:hover,
[id="slowmo"]:focus {
	background: #5A3B5D;
	color: #FEDC2A;
}

[id="slowmo"].is-slowmo span:after {
	content: 'Activated';
	display: block;
	font-weight: bold;
}

/* When slowmotion is activated */

.is-slowmo + .device .open-main-nav .burger,
.is-slowmo + .device .open-main-nav .burger:before,
.is-slowmo + .device .open-main-nav .burger:after,
.is-slowmo + .device .main-nav,
.is-slowmo + .device .main-nav::before,
.is-slowmo + .device .main-nav a {
	transition-duration: 3s;
}
.is-slowmo + .device .main-nav li:nth-child(1) a {
	transition-delay: 1750ms
}
.is-slowmo + .device .main-nav li:nth-child(2) a {
	transition-delay: 2250ms
}
.is-slowmo + .device .main-nav li:nth-child(3) a {
	transition-delay: 2750ms
}
.is-slowmo + .device .main-nav li:nth-child(4) a {
	transition-delay: 3250ms
}
.is-slowmo + .device .main-nav li:nth-child(5) a {
	transition-delay: 3750ms
}

/* Notice */
.notice {
	position: absolute;
	bottom: -15px;
	left: 0; right: 0;
	padding: 20px;
	background: #F2F2F2;
	color: #5A3B5D;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	z-index: 100;
	text-align: center;
}
.notice strong {
	font-weight: 700;
}
.notice a {
	padding: 2px 3px;
	background: #FEDC2A;
	text-decoration: none;
}