body {
   /*background-color: ;  */
   font-family: sans-serif !important; 
   font-weight: 300;
   margin: 0;
   min-height: 100%;
}
/*
main {
    background-color: #f4f4f9;
}
*/
.header {
    max-width: 1120px;
    margin: 0 auto;
    text-align: center;
}

.logoiscap {
    width: 68%;
}

#menu_icon {
    width: 0px;
}

.headerhr {
    height: 1px;
    background-color: #ca4d24;
}

.iscapImg {
    width: 100%;
    height: 444px;
    object-fit: cover;
}

.intro { 
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    width: 860px;
    margin: auto;
    color: #ca4d24;
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 53px;
    border-bottom: 2px solid #ca4d24;
}

.selector {
    display: flex;
    justify-content: space-between;
    margin: 5px 30px 0px 30px;
    text-align: center;
    color: #ca4d24;
    font-family: 'open_sansbold', Verdana, sans-serif;
    font-size: 18px;  
    font-weight: 900;
} 

.list a {
    color: #ca4d24;
    text-decoration: none;
    transition: transform .2s;
    margin: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

@media screen and (min-width: 750px) {
    .list:hover {
        color: black;
        border-bottom: 2px solid #ca4d24;
        transform: scale(1.25);
    }
    
    .list a:hover {
        color: black;
    }
}


/* Footer */ 
footer {
    background-color: #666666;
    bottom: 0px;
    width: 99.5%;
    min-height: 95px;
    margin-top: 30px;
}

.footerflex{
    display: flex;
    justify-content: space-between;
}

.linkIscap {
    margin-left: 10px;
    margin-bottom: 10px;
}
.footerimg {
    width: 167px;
}

.footerflex a {
    text-decoration: none;
}

.footerflex p {
    color: white;
    margin-top: 0;
}

.footerflex a:visited {
    color: white;
}

.fbLogo, .liLogo, .igLogo{
    border-radius: 42px;
    width: 46px;
    max-width: 46px;
}







/* Página Sobre o mestrado */
.flex1 {
    display: flex;
    margin-top: 30px;
}
.pagemenu {
    margin-top: 0px;
    margin-left: 39px;
    margin-right: 30px;
}

.menu{
    font-family: sans-serif;
    text-align: center;
    width: 160px;
    background-color: #D6D6D6;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    
}

.menu:hover {
    background-color: #666666;
    color: white;
    font-weight: 900;
    cursor: pointer;
}

.title_sobrenos{
    color: #ca4d24;
    text-decoration: none;
    font-size: 48px;
    font-family: porto-sans;
    font-family: sans-serif;
    font-weight: 600;

}

.choose{
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
}

.textHist, .textObjt, .textPC, .textSP, .textMI  {
    display: none;
    max-width: 1350px;
}
 /*
.textObjt{
    display: none;
}

.textPC{
    display: none;
}

.textSP{
    display: none;
}

.textMI{
    display: none;
}
*/


/* Media Tags Versão Mobile */ 
@media screen and (max-width: 750px) {
    #menu_icon {
    width: 65px;
    position: absolute;
    top: 0px;
    right: 0px;
    }

    .logoiscap{
    width: auto;
    max-width: 100% !important;
    }

    .selector {
    display: none;
    text-align: right;
    color: #ca4d24;
    font-family: 'open_sansbold', Verdana, sans-serif;
    font-size: 17px;  
    font-weight: 900;
    z-index: 9999999;
    }

    .list {
        transition: none;
        transform: none;
    }

    a {
        transition: none;
        transform: none;
    }

    .introducao {
    text-align: center;
    margin: 20px 30px;
    font-size: 22px;
    font-weight: 500;
    }

    .intro { 
    font-weight: 900;
    width: 860px;
    max-width: 100%;
    text-align: center;
    font-size: 18px;
    }
    
    footer{
        position: initial;
        margin-top: 30px;
        
    }

    .footerflex {
        display: block;
        text-align: center;
    }






    /* Página Sobre o Mestrado */
    .pagemenu {
        margin: auto;
        margin-bottom: 48px;
    }

    .flex1{
        display: initial;
    }

    .menu{
        width: initial;
    }
}
