@font-face {
    font-family: 'quicksand';
    src: url('./webFonts/Quicksand/Quicksand-VariableFont_wght.ttf');
}


body{
    margin: 0;
    padding: 0;
    font-family: 'quicksand';
    height: 100vh;
}

.pagesHeader{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 25px;
}

.project{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: #e7e7e7;
    width: 90%;
    box-shadow: -4px 5px 17px 3px #0000002b;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    margin: 50px auto;
    transition: all 0.9s;
}

.project:hover{
    box-shadow: -4px 5px 17px 3px #00000069;
    background-color: #ffffff;
}

.projImageWrapper{
    width: 45%;
    text-align: center;
}

.projImage{
    width: 90%;
    margin: 30px 0px;
    border-radius: 20px;
}

.projInfo{
    width: 55%;
}


@media screen and (max-width: 650px) {
    .projImage {
        width: 80%;
        margin-top: 1.83em;
        border-radius: 20px;
        padding: 0;

    }

    .projImageWrapper {
        width: 100%;
    }

    .projInfo {
        width: 80%;
    }
}

.goHome{
    background-color: white;
    color: black;
    font-weight: 900;
    font-size: 49px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 37px;
    line-height: 46px;
    position: fixed;
    top: 15px;
    padding: 10px 25px;
    border-radius: 0 35px 35px 0;
    left: -111px;
    cursor: pointer;
    transition: all 0.7s;
}